#! /usr/local/bin/vvp
:ivl_version "12.0 (devel)" "(s20150603-1148-gef01dd1e)";
:ivl_delay_selection "TYPICAL";
:vpi_time_precision + 0;
:vpi_module "/usr/local/lib/ivl/system.vpi";
:vpi_module "/usr/local/lib/ivl/vhdl_sys.vpi";
:vpi_module "/usr/local/lib/ivl/vhdl_textio.vpi";
:vpi_module "/usr/local/lib/ivl/v2005_math.vpi";
:vpi_module "/usr/local/lib/ivl/va_math.vpi";
:vpi_module "/usr/local/lib/ivl/v2009.vpi";
S_0x5600772894d0 .scope package, "$unit" "$unit" 2 1;
 .timescale 0 0;
S_0x560077277cf0 .scope module, "control" "control" 3 1;
 .timescale 0 0;
    .port_info 0 /INPUT 6 "op";
    .port_info 1 /INPUT 6 "func";
    .port_info 2 /INPUT 5 "rt";
    .port_info 3 /INPUT 1 "clk";
    .port_info 4 /INPUT 1 "reset";
    .port_info 5 /OUTPUT 1 "mem_write";
    .port_info 6 /OUTPUT 1 "mem_read";
    .port_info 7 /OUTPUT 2 "reg_data_sel";
    .port_info 8 /OUTPUT 1 "reg_dest";
    .port_info 9 /OUTPUT 1 "reg_write";
    .port_info 10 /OUTPUT 1 "IR_write";
    .port_info 11 /OUTPUT 1 "ALU_srcA";
    .port_info 12 /OUTPUT 2 "ALU_srcB";
    .port_info 13 /OUTPUT 6 "ALUop";
    .port_info 14 /OUTPUT 2 "PC_src";
    .port_info 15 /OUTPUT 1 "PC_write";
    .port_info 16 /OUTPUT 1 "PC_write_cond";
    .port_info 17 /OUTPUT 1 "lo_sel";
    .port_info 18 /OUTPUT 1 "hi_sel";
    .port_info 19 /OUTPUT 1 "lo_en";
    .port_info 20 /OUTPUT 1 "hi_en";
    .port_info 21 /OUTPUT 1 "IoD";
    .port_info 22 /OUTPUT 1 "extend";
enum0x56007728a1c0 .enum4 (3)
   "IF" 3'b000,
   "ID" 3'b001,
   "EX" 3'b010,
   "MEM" 3'b011
 ;
v0x5600772780b0_0 .var "ALU_srcA", 0 0;
v0x5600772eae00_0 .var "ALU_srcB", 1 0;
v0x5600772eaee0_0 .var "ALUop", 5 0;
v0x5600772eafa0_0 .var "IR_write", 0 0;
v0x5600772eb060_0 .var "IoD", 0 0;
v0x5600772eb170_0 .var "PC_src", 1 0;
v0x5600772eb250_0 .var "PC_write", 0 0;
v0x5600772eb310_0 .var "PC_write_cond", 0 0;
o0x7fd3bb5db198 .functor BUFZ 1, C4<z>; HiZ drive
v0x5600772eb3d0_0 .net "clk", 0 0, o0x7fd3bb5db198;  0 drivers
v0x5600772eb490_0 .var "extend", 0 0;
o0x7fd3bb5db1f8 .functor BUFZ 6, C4<zzzzzz>; HiZ drive
v0x5600772eb550_0 .net "func", 5 0, o0x7fd3bb5db1f8;  0 drivers
v0x5600772eb630_0 .var "hi_en", 0 0;
v0x5600772eb6f0_0 .var "hi_sel", 0 0;
v0x5600772eb7b0_0 .var "instr_type", 0 0;
v0x5600772eb870_0 .var "lo_en", 0 0;
v0x5600772eb930_0 .var "lo_sel", 0 0;
v0x5600772eb9f0_0 .var "mem_read", 0 0;
v0x5600772ebab0_0 .var "mem_write", 0 0;
o0x7fd3bb5db378 .functor BUFZ 6, C4<zzzzzz>; HiZ drive
v0x5600772ebb70_0 .net "op", 5 0, o0x7fd3bb5db378;  0 drivers
v0x5600772ebc50_0 .var "reg_data_sel", 1 0;
v0x5600772ebd30_0 .var "reg_dest", 0 0;
v0x5600772ebdf0_0 .var "reg_write", 0 0;
o0x7fd3bb5db438 .functor BUFZ 1, C4<z>; HiZ drive
v0x5600772ebeb0_0 .net "reset", 0 0, o0x7fd3bb5db438;  0 drivers
o0x7fd3bb5db468 .functor BUFZ 5, C4<zzzzz>; HiZ drive
v0x5600772ebf70_0 .net "rt", 4 0, o0x7fd3bb5db468;  0 drivers
v0x5600772ec050_0 .var "state", 2 0;
E_0x5600772b1970 .event anyedge, v0x5600772ec050_0, v0x5600772eb7b0_0, v0x5600772ebb70_0, v0x5600772eb550_0;
E_0x5600772b09e0 .event posedge, v0x5600772eb3d0_0;
E_0x5600772b0450 .event anyedge, v0x5600772ebb70_0;
    .scope S_0x560077277cf0;
T_0 ;
Ewait_0 .event/or E_0x5600772b0450, E_0x0;
    %wait Ewait_0;
    %load/vec4 v0x5600772ebb70_0;
    %cmpi/e 32, 0, 6;
    %flag_mov 8, 4;
    %load/vec4 v0x5600772ebb70_0;
    %cmpi/e 36, 0, 6;
    %flag_or 4, 8;
    %flag_mov 8, 4;
    %load/vec4 v0x5600772ebb70_0;
    %cmpi/e 33, 0, 6;
    %flag_or 4, 8;
    %flag_mov 8, 4;
    %load/vec4 v0x5600772ebb70_0;
    %cmpi/e 37, 0, 6;
    %flag_or 4, 8;
    %flag_mov 8, 4;
    %load/vec4 v0x5600772ebb70_0;
    %cmpi/e 15, 0, 6;
    %flag_or 4, 8;
    %flag_mov 8, 4;
    %load/vec4 v0x5600772ebb70_0;
    %cmpi/e 35, 0, 6;
    %flag_or 4, 8;
    %flag_mov 8, 4;
    %load/vec4 v0x5600772ebb70_0;
    %cmpi/e 34, 0, 6;
    %flag_or 4, 8;
    %flag_mov 8, 4;
    %load/vec4 v0x5600772ebb70_0;
    %cmpi/e 38, 0, 6;
    %flag_or 4, 8;
    %flag_mov 8, 4;
    %load/vec4 v0x5600772ebb70_0;
    %cmpi/e 40, 0, 6;
    %flag_or 4, 8;
    %flag_mov 8, 4;
    %load/vec4 v0x5600772ebb70_0;
    %cmpi/e 41, 0, 6;
    %flag_or 4, 8;
    %flag_mov 8, 4;
    %load/vec4 v0x5600772ebb70_0;
    %cmpi/e 43, 0, 6;
    %flag_or 4, 8;
    %jmp/0xz  T_0.0, 4;
    %pushi/vec4 1, 0, 1;
    %store/vec4 v0x5600772eb7b0_0, 0, 1;
    %jmp T_0.1;
T_0.0 ;
    %pushi/vec4 0, 0, 1;
    %store/vec4 v0x5600772eb7b0_0, 0, 1;
T_0.1 ;
    %jmp T_0;
    .thread T_0, $push;
    .scope S_0x560077277cf0;
T_1 ;
    %pushi/vec4 0, 0, 3;
    %store/vec4 v0x5600772ec050_0, 0, 3;
    %end;
    .thread T_1;
    .scope S_0x560077277cf0;
T_2 ;
    %wait E_0x5600772b09e0;
    %load/vec4 v0x5600772ebeb0_0;
    %pad/u 32;
    %cmpi/e 1, 0, 32;
    %jmp/0xz  T_2.0, 4;
    %pushi/vec4 0, 0, 3;
    %assign/vec4 v0x5600772ec050_0, 0;
    %jmp T_2.1;
T_2.0 ;
    %load/vec4 v0x5600772ec050_0;
    %cmpi/e 0, 0, 3;
    %jmp/0xz  T_2.2, 4;
    %pushi/vec4 1, 0, 3;
    %assign/vec4 v0x5600772ec050_0, 0;
    %jmp T_2.3;
T_2.2 ;
    %load/vec4 v0x5600772ec050_0;
    %cmpi/e 1, 0, 3;
    %jmp/0xz  T_2.4, 4;
    %pushi/vec4 2, 0, 3;
    %assign/vec4 v0x5600772ec050_0, 0;
    %jmp T_2.5;
T_2.4 ;
    %load/vec4 v0x5600772ec050_0;
    %pushi/vec4 2, 0, 3;
    %cmp/e;
    %flag_get/vec4 4;
    %load/vec4 v0x5600772eb7b0_0;
    %pad/u 32;
    %pushi/vec4 0, 0, 32;
    %cmp/e;
    %flag_get/vec4 4;
    %and;
    %flag_set/vec4 8;
    %jmp/0xz  T_2.6, 8;
    %pushi/vec4 0, 0, 3;
    %assign/vec4 v0x5600772ec050_0, 0;
    %jmp T_2.7;
T_2.6 ;
    %load/vec4 v0x5600772ec050_0;
    %pushi/vec4 1, 0, 3;
    %cmp/e;
    %flag_get/vec4 4;
    %load/vec4 v0x5600772eb7b0_0;
    %pad/u 32;
    %pushi/vec4 1, 0, 32;
    %cmp/e;
    %flag_get/vec4 4;
    %and;
    %flag_set/vec4 8;
    %jmp/0xz  T_2.8, 8;
    %pushi/vec4 3, 0, 3;
    %assign/vec4 v0x5600772ec050_0, 0;
    %jmp T_2.9;
T_2.8 ;
    %load/vec4 v0x5600772ec050_0;
    %cmpi/e 3, 0, 3;
    %jmp/0xz  T_2.10, 4;
    %pushi/vec4 0, 0, 3;
    %assign/vec4 v0x5600772ec050_0, 0;
T_2.10 ;
T_2.9 ;
T_2.7 ;
T_2.5 ;
T_2.3 ;
T_2.1 ;
    %jmp T_2;
    .thread T_2;
    .scope S_0x560077277cf0;
T_3 ;
Ewait_1 .event/or E_0x5600772b1970, E_0x0;
    %wait Ewait_1;
    %load/vec4 v0x5600772ec050_0;
    %cmpi/e 0, 0, 3;
    %jmp/0xz  T_3.0, 4;
    %pushi/vec4 0, 0, 1;
    %store/vec4 v0x5600772ebab0_0, 0, 1;
    %pushi/vec4 1, 0, 1;
    %store/vec4 v0x5600772eb9f0_0, 0, 1;
    %pushi/vec4 0, 0, 2;
    %store/vec4 v0x5600772ebc50_0, 0, 2;
    %pushi/vec4 0, 0, 1;
    %store/vec4 v0x5600772ebd30_0, 0, 1;
    %pushi/vec4 0, 0, 1;
    %store/vec4 v0x5600772ebdf0_0, 0, 1;
    %pushi/vec4 1, 0, 1;
    %store/vec4 v0x5600772eafa0_0, 0, 1;
    %pushi/vec4 0, 0, 1;
    %store/vec4 v0x5600772780b0_0, 0, 1;
    %pushi/vec4 1, 0, 2;
    %store/vec4 v0x5600772eae00_0, 0, 2;
    %pushi/vec4 0, 0, 6;
    %store/vec4 v0x5600772eaee0_0, 0, 6;
    %pushi/vec4 1, 0, 2;
    %store/vec4 v0x5600772eb170_0, 0, 2;
    %pushi/vec4 1, 0, 1;
    %store/vec4 v0x5600772eb250_0, 0, 1;
    %pushi/vec4 0, 0, 1;
    %store/vec4 v0x5600772eb310_0, 0, 1;
    %pushi/vec4 0, 0, 1;
    %store/vec4 v0x5600772eb060_0, 0, 1;
    %pushi/vec4 0, 0, 1;
    %store/vec4 v0x5600772eb490_0, 0, 1;
    %jmp T_3.1;
T_3.0 ;
    %load/vec4 v0x5600772ec050_0;
    %cmpi/e 1, 0, 3;
    %jmp/0xz  T_3.2, 4;
    %pushi/vec4 0, 0, 1;
    %store/vec4 v0x5600772ebab0_0, 0, 1;
    %pushi/vec4 0, 0, 1;
    %store/vec4 v0x5600772eb9f0_0, 0, 1;
    %pushi/vec4 0, 0, 2;
    %store/vec4 v0x5600772ebc50_0, 0, 2;
    %pushi/vec4 0, 0, 1;
    %store/vec4 v0x5600772ebd30_0, 0, 1;
    %pushi/vec4 0, 0, 1;
    %store/vec4 v0x5600772ebdf0_0, 0, 1;
    %pushi/vec4 0, 0, 1;
    %store/vec4 v0x5600772eafa0_0, 0, 1;
    %pushi/vec4 0, 0, 1;
    %store/vec4 v0x5600772780b0_0, 0, 1;
    %pushi/vec4 3, 0, 2;
    %store/vec4 v0x5600772eae00_0, 0, 2;
    %pushi/vec4 0, 0, 6;
    %store/vec4 v0x5600772eaee0_0, 0, 6;
    %pushi/vec4 1, 0, 2;
    %store/vec4 v0x5600772eb170_0, 0, 2;
    %pushi/vec4 0, 0, 1;
    %store/vec4 v0x5600772eb250_0, 0, 1;
    %pushi/vec4 0, 0, 1;
    %store/vec4 v0x5600772eb310_0, 0, 1;
    %pushi/vec4 0, 0, 1;
    %store/vec4 v0x5600772eb060_0, 0, 1;
    %pushi/vec4 0, 0, 1;
    %store/vec4 v0x5600772eb490_0, 0, 1;
    %jmp T_3.3;
T_3.2 ;
    %load/vec4 v0x5600772ec050_0;
    %pushi/vec4 2, 0, 3;
    %cmp/e;
    %flag_get/vec4 4;
    %load/vec4 v0x5600772eb7b0_0;
    %pad/u 32;
    %pushi/vec4 0, 0, 32;
    %cmp/e;
    %flag_get/vec4 4;
    %and;
    %flag_set/vec4 8;
    %jmp/0xz  T_3.4, 8;
    %load/vec4 v0x5600772ebb70_0;
    %dup/vec4;
    %pushi/vec4 0, 0, 6;
    %cmp/u;
    %jmp/1 T_3.6, 6;
    %jmp T_3.7;
T_3.6 ;
    %pushi/vec4 0, 0, 1;
    %store/vec4 v0x5600772ebab0_0, 0, 1;
    %pushi/vec4 0, 0, 1;
    %store/vec4 v0x5600772eb9f0_0, 0, 1;
    %pushi/vec4 0, 0, 2;
    %store/vec4 v0x5600772ebc50_0, 0, 2;
    %pushi/vec4 0, 0, 1;
    %store/vec4 v0x5600772ebd30_0, 0, 1;
    %pushi/vec4 0, 0, 1;
    %store/vec4 v0x5600772ebdf0_0, 0, 1;
    %pushi/vec4 0, 0, 1;
    %store/vec4 v0x5600772eafa0_0, 0, 1;
    %pushi/vec4 1, 0, 2;
    %store/vec4 v0x5600772eb170_0, 0, 2;
    %pushi/vec4 0, 0, 1;
    %store/vec4 v0x5600772eb250_0, 0, 1;
    %pushi/vec4 0, 0, 1;
    %store/vec4 v0x5600772eb310_0, 0, 1;
    %pushi/vec4 0, 0, 1;
    %store/vec4 v0x5600772eb060_0, 0, 1;
    %pushi/vec4 0, 0, 1;
    %store/vec4 v0x5600772eb490_0, 0, 1;
    %pushi/vec4 1, 0, 1;
    %store/vec4 v0x5600772780b0_0, 0, 1;
    %pushi/vec4 0, 0, 2;
    %store/vec4 v0x5600772eae00_0, 0, 2;
    %load/vec4 v0x5600772eb550_0;
    %dup/vec4;
    %pushi/vec4 33, 0, 6;
    %cmp/u;
    %jmp/1 T_3.8, 6;
    %dup/vec4;
    %pushi/vec4 36, 0, 6;
    %cmp/u;
    %jmp/1 T_3.9, 6;
    %dup/vec4;
    %pushi/vec4 26, 0, 6;
    %cmp/u;
    %jmp/1 T_3.10, 6;
    %dup/vec4;
    %pushi/vec4 27, 0, 6;
    %cmp/u;
    %jmp/1 T_3.11, 6;
    %jmp T_3.12;
T_3.8 ;
    %pushi/vec4 0, 0, 6;
    %store/vec4 v0x5600772eaee0_0, 0, 6;
    %jmp T_3.12;
T_3.9 ;
    %pushi/vec4 6, 0, 6;
    %store/vec4 v0x5600772eaee0_0, 0, 6;
    %jmp T_3.12;
T_3.10 ;
    %pushi/vec4 4, 0, 6;
    %store/vec4 v0x5600772eaee0_0, 0, 6;
    %pushi/vec4 1, 0, 1;
    %store/vec4 v0x5600772eb870_0, 0, 1;
    %pushi/vec4 1, 0, 1;
    %store/vec4 v0x5600772eb630_0, 0, 1;
    %pushi/vec4 0, 0, 1;
    %store/vec4 v0x5600772eb930_0, 0, 1;
    %pushi/vec4 0, 0, 1;
    %store/vec4 v0x5600772eb6f0_0, 0, 1;
    %jmp T_3.12;
T_3.11 ;
    %pushi/vec4 5, 0, 6;
    %store/vec4 v0x5600772eaee0_0, 0, 6;
    %pushi/vec4 1, 0, 1;
    %store/vec4 v0x5600772eb870_0, 0, 1;
    %pushi/vec4 1, 0, 1;
    %store/vec4 v0x5600772eb630_0, 0, 1;
    %pushi/vec4 0, 0, 1;
    %store/vec4 v0x5600772eb930_0, 0, 1;
    %pushi/vec4 0, 0, 1;
    %store/vec4 v0x5600772eb6f0_0, 0, 1;
    %jmp T_3.12;
T_3.12 ;
    %pop/vec4 1;
    %jmp T_3.7;
T_3.7 ;
    %pop/vec4 1;
    %jmp T_3.5;
T_3.4 ;
    %load/vec4 v0x5600772ec050_0;
    %pushi/vec4 2, 0, 3;
    %cmp/e;
    %flag_get/vec4 4;
    %load/vec4 v0x5600772eb7b0_0;
    %pad/u 32;
    %pushi/vec4 1, 0, 32;
    %cmp/e;
    %flag_get/vec4 4;
    %and;
    %flag_set/vec4 8;
    %jmp/0xz  T_3.13, 8;
    %jmp T_3.14;
T_3.13 ;
    %load/vec4 v0x5600772ec050_0;
    %cmpi/e 3, 0, 3;
    %jmp/0xz  T_3.15, 4;
T_3.15 ;
T_3.14 ;
T_3.5 ;
T_3.3 ;
T_3.1 ;
    %jmp T_3;
    .thread T_3, $push;
# The file index is used to find the file name in the following table.
:file_names 4;
    "N/A";
    "<interactive>";
    "-";
    "control.v";
